/*
	CS-101 Tutoring Website Style Sheet
	Author: Arocho
	Date:	Thursday, March 7, 2013
	
	Filename: tutorstyles.css
*/

/* Body Styles */

body {
	background-image: url(resources/background_pattern.png);
	background-repeat: repeat;
	width: 768px;
	margin: 0px auto;

}

/* HeaderNavigation Styles */

header{
	width: auto;
	height: 100px;
	background-image: url(resources/ribbon15b.png);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}

nav li{
	font-family: "Unica One", cursive;
	font-size: 24px;
	float: left;
	text-align: center;
	margin: 5px;
	padding: 15px 5px;
	width: 20%;
	list-style-type: none;
}

/* Section Styles */

section.content{
	background-color: rgb(181,227,229);
	width: 768px;
	height: auto;
	position: center;
	
}

#resources, #contact{
	background-color: rgb(166,209,210);
}

h2{
	font-family: "Unica One", cursive;
}

h1, caption{
	font-family: "Unica One", cursive;
	font-size: 26px;
	text-decoration: none;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

p{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

/* Table styles */

table tr{
	font-family: "Roboto", sans-serif;
}

footer{
	background-color: rgb(181,227,229);
	margin: 200px, 0px;
	font-family: "Unica One", cursive;
	font-variant: small-caps;
	text-align: center;
}


